.sidebar {
  border-right: 1px solid var(--twitter-dark-border);
  flex: 0.2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.sidebar__btn {
  background-color: var(--twitter-color);
  font-weight: 600;
  padding: 12px 80px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 8px;
  transition: background-color 150ms ease;
}

.sidebar__btn:hover {
  background-color: rgb(24, 134, 207);
}

@media (max-width: 1300px) {
  .sidebar {
    align-items: flex-end;
    flex: .1;
  }

  .sidebar__btn {
    padding: 12px;
    border-radius: 50%;
    font-size: 0;
  }
}

@media (max-width: 720px) {
  .sidebar {
    padding: 0;
    flex: 0.1;
  }
}