.tweetBox {
  border-bottom: 1px solid var(--twitter-dark-border);
  padding-bottom: 10px;
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  display: flex;
  padding: 10px;
  padding-bottom: 5px;
}

.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.tweetBox__inputText {
  margin-top: 13px;
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--twitter-dark-background);
  width: 95%
}

.uploadImage {
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.buttons {
  display: flex;
}

.tweetBox__imageButton {
  margin-left: 80px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 8px;
  height: 40px;
  transition: background-color 150ms ease, opacity 300ms ease;
  margin-left: auto;
  border: none;
}

.tweetBox__tweetButton:hover {
  background-color: rgb(24, 134, 207);
}

