:root {
  --twitter-color: rgb(29, 155, 240);
  --twitter-color-light: rgba(29, 155, 240, 0.2);
  --twitter-dark-background: rgb(0, 0, 0);
  --twitter-dark-text: rgb(231, 233, 234);
  --twitter-dark-hover: rgba(71, 67, 67, 0.4);
  --twitter-dark-border: rgba(71, 67, 67, 1);
  --twitter-dark-lightText: rgb(100, 97, 97);
  --twitter-dark-hover: rgba(43, 40, 40, .3);
  --twitter-dark-widgetHover: rgba(107, 103, 103, .15);
  --twitter-widgets-background: rgb(17, 17, 24);

}

* {
  margin: 0;
  color: var(--twitter-dark-text);
  box-sizing: border-box;
}



body {
  background-color: var(--twitter-dark-background);
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 800px) {
  .app {
    padding: 0;
  }
}